body{
    background-color: whitesmoke;
    border: 1px solid black;
    border-radius: 3px;
    margin: 20px;
    font-family: monospace;
    display: flex;
    flex-direction: column;
    
}
header{
    padding-left: 1.25rem;
    align-self: flex-start;
}
h1{
    margin-bottom: 0;
}
p{
    margin-top: 0;
}

.content{
    align-self: center;
    padding: 23vh 0;
    width: clamp(30px,70%,400px);

}
footer{
    display:flex;
    justify-content:space-between;
    margin:0 1.25rem 0.625rem 0;
    object-fit:scale-down;
    
}
a{
    padding-left: 0.625rem;
    text-decoration: none;
    color: black;
    padding-left: 0;
}
a:hover, a:active {
    background-color: rgb(112, 112, 128);
    color: white;
  }
